.ProgramsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

@media (max-width: 500px){
    .ProgramsContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }
}

@media (min-width: 501px) and (max-width: 900px) {
    .ProgramsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 40px;
    }
}


@media (min-width: 1024px) and (max-width: 1440px) {
    .ProgramsContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    
    }
}