.filters {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 30px;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 205px;
}

.filters_title {
    font-weight: bold;
}

.FilterTitle{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #c7c7c7;
    border-bottom-width: 70%;
}

.launch_year_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.changeDirection {
    display: flex;
    justify-content: center;
}

.yearDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.successful_launch_block {
    
}

.successful_landing_block {

}

.reset_filters {
    margin-top: 20px;
    margin-bottom: 20px;
}

.reset_filter_button {
    padding: 15px 10px;
    border-radius: 5px;
    background: #328d32;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    transition: 1s;
    border: none;
}
.reset_filter_button:hover {
    cursor: pointer;
    background: #2a772a;
}

@media (max-width: 500px) {

}