.filterControl {
    padding: 5px 7px;
    border-radius: 7px;
    color: black;
    background-color: lightgreen;
    margin: 5px;
    width: 50px;
}

.filterControl:hover,
.filterControl:active {
    background-color: rgb(105, 230, 105);
    cursor: pointer;
}