.filterControl {
    padding: 5px 7px;
    border-radius: 7px;
    color: black;
    background-color: lightgreen;
    margin: 10px 30px;
    width: 42px;
}

.filterControl:hover{
    background-color: rgb(72, 173, 72);
    cursor: pointer;
}


.filterControl:active {
    background-color: darkgreen;
}

/* @media (min-width: 500px) and (max-width: 900px) {
    .filterControl {
        padding: 5px;
        border-radius: 7px;
        color: black;
        background-color: lightgreen;
        margin: 3px;
        font-size: 12px;
    }
} */