.title {
    font-size: 26px;
    font-weight: bold;
    padding: 22px;
}

@media (max-width: 500px) {
    .title {
        font-size: 26px;
        font-weight: bold;
        padding: 22px;
        text-align: center;
    }
    
}