.ProgramCard {
    background-color: white;
    max-width: 300px;
    min-width: 180px;
    padding: 10px;
    margin: 10px;
}

.ProgramContent {

}

.ProrgamImage {
    background-color: #c7c7c7;
    padding: 5px;
    width: 96%;
}

.ProgramDetails {
    text-align: left;
    padding: 10px;
}

.ProgramTitle {
    color: darkblue;
    font-size: 1.1rem;
    font-weight: bold;
}

.ProgramSubDetailKey {
    color: black;
    font-size: 1.05rem;
    font-weight: bold;
}

.ProgramSubDetailValue {
    color: rgb(139, 139, 139);
    font-weight: 500;
}