header {
  background-color: #c7c7c7;
  height: 10vh;
}

main {
  background-color: #c7c7c7;
  width: 100%;
  /* height: 80vh; */
}

footer {
  background-color: #c7c7c7;
  height: 10vh;
}

.nav {
  width: 100%;
  background-color: #c7c7c7;
  text-align: left;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.filter_container {
  /* width: 24%; */
}

.launchPrograms_container {
  /* width: 76%; */
}

.developedBy {
  font-size: 14px;
  font-weight: bold;
  padding-top: 21px;
}

@media  (max-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .filter_container {
    display: flex;
    justify-content: space-around;
  }

  .launchPrograms_container {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 501px) and (max-width: 900px) {

}


@media (min-width: 1024px) and (max-width: 1440px) {

}
