header {
  background-color: #c7c7c7;
  height: 10vh;
}

main {
  background-color: #c7c7c7;
  width: 100%;
  /* height: 80vh; */
}

footer {
  background-color: #c7c7c7;
  height: 10vh;
}

.nav {
  width: 100%;
  background-color: #c7c7c7;
  text-align: left;
}

.container {
  display: flex;
}

.filter_container {
  width: 20%;
}

.launchPrograms_container {
  width: 80%;
}

.developedBy {
}

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .filter_container {
    width: 90%;
    justify-content: space-around;
    align-self: flex-end;
  }

  .launchPrograms_container {
    width: 90%;
    align-self: center;
  }
}


